{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Haram</th>
            <th>Vote</th>
        </tr>
    </thead>
    <tbody>
        {% for haram in harams %}
            <tr {% if haram.is_newest() %} class="warning" {% endif %}>
                <td><b>{{ haram.position }}</b></td>
                <td>{{ haram.text }}</td>
                <td>
                    <a class="btn btn-danger" href="/upvote/{{ haram.key.id() }}" role="button">Up</a>
                    <a class="btn btn-primary" href="/downvote/{{ haram.key.id() }}" role="button">Down</a>
                    <a class="btn btn-default" href="/edit/{{ haram.key.id() }}" role="button">Edit</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}